@font-face {
    font-family: myFirstFont;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://github.com/Sampathsampi/mako-rfp/blob/master/css/Tusker-Grotesk-Bold.woff?raw=true) format('woff');
    }
